<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("建工项目管理", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                   
                    <li>@Html.ActionLink("项目", "Index", "WorkItems")</li>
                    <li>@Html.ActionLink("工程队", "Index", "WorkTeams")</li>
                    <li>@Html.ActionLink("项目区", "Index", "WorkAreas")</li>
                    <li>@Html.ActionLink("项目类型", "Index", "WorkTypes")</li>
                    <li>@Html.ActionLink("项目单位", "Index", "WorkUnits")</li>
                    <li>@Html.ActionLink("项目类型单位", "Index", "WorkTypeUnits")</li>
                    <li>@Html.ActionLink("项目报价", "Index", "WorkItemPrices")</li>
                    <li>@Html.ActionLink("项目进度", "Index", "WorkItemProgresses")</li>
                    <li>@Html.ActionLink("工区项目报表", "Index", "WorkAreaProgresses")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 项目管理系统</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
