@model HQF.Daily.Web45.DAL.WorkItemProgress

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkItemProgress</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConcreteMixingStation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcreteMixingStation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkItem.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkItem.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTeam.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTeam.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkUnit.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkUnit.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkUnitId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkUnitId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
